SECRET_KEY='Секретный ключ Django'
DEBUG='True/False', например: True

# PostgreSQL
POSTGRES_DB_NAME='Название базы данных', например: 'name_of_db' или 'sdk_weather'
POSTGRES_DB_USER='Пользователь базы данных', например: 'db_user' или 'postgres'
POSTGRES_DB_PASSWORD='Пароль пользователя базы данных', например: 'your_password'
POSTGRES_DB_HOST='Хост базы данных', например: '127.0.0.1' или 'localhost' или 'db' для Docker
POSTGRES_DB_PORT='Порт базы данных', например: '5432'

# Superuser
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
